.archiveHeader {
    position: relative;
    min-height: 400px;
    padding-bottom: 150px;
    background-color: $white;
    border-radius: 0 0 12vw 0;
    -webkit-border-radius: 0 0 12vw 0;
    -moz-border-radius: 0 0 12vw 0;
    -ms-border-radius: 0 0 12vw 0;
    -o-border-radius: 0 0 12vw 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles {
    margin-bottom: 150px;
    padding-bottom: 50px;
}

.articlesLoop {
    margin-top: -150px;
}


.blog {
    margin-bottom: 15vh;
}

.blog--articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 80px;
    @include responsive('small') {
        grid-template-columns: 1fr;
    }
}

.article {
    grid-column: span 1;
    position: relative;

    > img {
        border-radius: 10vw 0 0 0;
    }
    
    transition: all .3s ease-in-out ;
    -webkit-transition: all .3s ease-in-out ;
    -moz-transition: all .3s ease-in-out ;
    -ms-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
}

.article--content {
    background-color: $white;
    padding: 30px 20px;

    h2 {
        font-size: clamp(18px, 1.2vw, 28px);
        margin-bottom: 50px;
    }
}

.article--more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 40px;
    
    a {
        background-color: $azure;
        visibility: hidden;
    }
}

.article:hover {
    .article--content {
        background-color: $darkBlue;
        color: $white;
        padding: 30px 20px;
    }

    .article--more {
        
        a {
            visibility: visible;
        }
    }
}
