.productDetails {
    position: relative;
    max-width: 80vw;
    margin: auto;
    margin-top: 100px;
    @include responsive('small') {
        max-width: 90vw;
    }
}

.productDetails--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    @include responsive('small') {
        row-gap: 10vh;
    }
}

.productDetails--content {
    grid-column: span 2;

    @include responsive('small') {
        grid-column: span 3;
    }
}

.productComplementary {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @include responsive('small') {
        grid-column: span 3;
    }
}

.productComplementary--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 50px 0;

    .buttonOutline {
        margin-top: 20px;
    }

    img {
        max-width: 80%;
    }

    border-radius: 10vh 20px 20px 20px;
    -webkit-border-radius: 10vh 20px 20px 20px;
    -moz-border-radius: 10vh 20px 20px 20px;
    -ms-border-radius: 10vh 20px 20px 20px;
    -o-border-radius: 10vh 20px 20px 20px;
}

.productDetails--columns {
    display: flex;
    justify-content: space-between;
    row-gap: 50px;

    @include responsive('small') {
        flex-direction: column;
    }
}

.productAdvantages, .productForm {

    ul {
        margin-top: 30px;
        list-style-position: inside;
        @include responsive('small') {
            margin-top: 15px;
        }
    }

    li {
        list-style-type: none;
        padding: 0 0 0 24px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='15' viewBox='0 0 13 15'%3E%3Cpath id='Polygon_8' data-name='Polygon 8' d='M5.768,3A2,2,0,0,1,9.232,3l4.037,7a2,2,0,0,1-1.732,3H3.463A2,2,0,0,1,1.73,10Z' transform='translate(13) rotate(90)' fill='%23a9dff3'/%3E%3C/svg%3E%0A") no-repeat left 3px;
    }
}

.productForm {
    width: 40%;
    @include responsive('small') {
        width: 100%;
    }
}


.productDesignation {
    margin-top: 50px;
}

.productDesignation--inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;

    @include responsive('small') {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.productDesignation--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    line-height: 1.2;

    img {
        width: 100px;
        height: 100px;
        @include responsive('small') {
            width: 80px;
            height: 80px;
        }
    }


}

.avaliableCapacity--inner {
    display: flex;
    gap: 20px;
}

.avaliableCapacity--item {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    span {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        height: 60px;
        text-align: end;
    }
}

.productMore {
    margin-top: 8vh;
    @include responsive('small') {
        margin-top: 5vh;
    }

    a {
        margin-top: 30px;
    }
}

